{% extends "base.html.twig" %}
{% block body %}
    <div class="card mb-4">
        <div class="card-body">
            <div class="row">
                <div class="col-12">
                    <h3 class="card-title text-center">{{ developer.name }}</h3>
                </div>
                {% for key, week in weeks %}
                    <div class="col-md-3 col-sm-6 mt-4">
                        <div class="card h-100">
                            <div class="card-header text-white bg-primary">
                                <h5 class="card-title mb-0">{{ key }}. Week</h5>
                            </div>
                            <div class="card-body">
                                <ul class="list-group">
                                    <li class="list-group-item bg-light">
                                        <b>Tasks</b>
                                        {% for task in week %}
                                            <ul class="list-unstyled mt-2">
                                                <li>
                                                    <b>{{ task.name }}</b>
                                                    <ul class="list-group mt-2">
                                                        <li class="list-group-item d-flex justify-content-between align-items-center">
                                                            Task Difficulty
                                                            <span class="badge badge-primary bg-info">{{ task.difficulty }}</span>
                                                        </li>
                                                        <li class="list-group-item d-flex justify-content-between align-items-center">
                                                            Task Duration
                                                            <span class="badge badge-primary bg-info">{{ task.duration }}</span>
                                                        </li>
                                                    </ul>
                                                </li>
                                            </ul>
                                        {% endfor %}
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
